In [12]:
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt

In [13]:
USERNAME = "postgres"
PASSWORD = "postgres"
DATABASE = "sql-challenge"
rds_connection_string = f"{USERNAME}:{PASSWORD}@localhost:5432/{DATABASE}"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [14]:
connection = engine.connect()

In [15]:
engine.table_names()

['employees', 'dept_emp', 'departments', 'dept_manager', 'salaries', 'titles']

In [16]:
employees_df = pd.read_sql_table('employees', engine)  
dept_emp_df = pd.read_sql_table('dept_emp', engine)  
departments_df = pd.read_sql_table('departments', engine)  
dept_manager_df = pd.read_sql_table('dept_manager', engine)  
salaries_df = pd.read_sql_table('salaries', engine)  
titles_df = pd.read_sql_table('titles', engine)

In [25]:
salaries_df.describe()

              emp_no
count  300024.000000
mean   253321.763392
std    161828.235540
min     10001.000000
25%     85006.750000
50%    249987.500000
75%    424993.250000
max    499999.000000

In [24]:
salaries_df['salary'].plot.hist(bins=12)

TypeError: no numeric data to plot